@use "./var.scss" as *;

// 设置字体样式
@mixin font($type, $weight: 400, $style: normal) {
  font-size: map-get($size, $type);
  font-weight: $weight;
  font-style: $style;
}

// 设置文本颜色及背景色
@mixin color($type: primary, $bg: null) {
  color: map-get($colors, $type);

  @if $bg {
    background-color: $bg;
  }
}